
<% if user_signed_in? %>

<div class="homecontenant"> 

<div class="backgrd"> 
</div>


<div class="secondcontainer">


<div class= "aldrin"> 
<%=image_tag("buzzaldrin.png", alt: "astronaute", class: "astro") %>
</div>

<div class="hometitle">
<h2 class="hometitlefont"> Hello <%= current_user.email %></h2>
</div>

<div class="homesignout">
<%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "linkouthome" %>
</div>
<% else %>

<p> Sign in please</p>

<% end %>
</div>
</div>