
<% if user_signed_in? %>

<div class="homecontenant"> 

<h2> Hello <%= current_user.email %></h2>


<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>

<% else %>

<p> Sign in please</p>

<% end %>
</div>